/*
Theme Name: Brushed 
Theme URI: http://www.themes.alessioatzeni.com/html/brushed/
Author: Alessio Atzeni
Author URI: http://www.alessioatzeni.com
Description: Personal Website and Portfolio of Alessio Atzeni
Version: 1.0
*/


/* ==================================================
   Basic Styles
================================================== */

html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body{
	background:#FFF;
	color:#000;
	font-weight:300;
	font-size:16px;
	font-family: 'Titillium Web',YuGothic, '游ゴシック','メイリオ','ヒラギノ角ゴ Pro W3',Meiryo,sans-serif;
	line-height:28px;
}

a{
	color:#2ebdf0;
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: color 0.1s linear 0s;	
	   -moz-transition: color 0.1s linear 0s;
		 -o-transition: color 0.1s linear 0s;
		    transition: color 0.1s linear 0s;
}

a:hover,
a:active,
a:focus{
	outline: 0;
	color:#666;
	text-decoration:none;
}

a img {
	border: none;
}

a > img {
	vertical-align: bottom;	
}

img {
	max-width: none;	
}

strong {
  	font-weight: 500;
}

p {
	margin: 0 0 30px;
}

li	{
	list-style: none;
}

hr {
	border-style: dashed;
	border-color: #666;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 50px 0;	
}

.align_left{
	float:left;
	margin:0 25px 0 0px !important;
}

.align_right{
	float:right;
	margin:0 0 0 25px!important;
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
}

.text_align_right {
	text-align: right;	
}

.color-text {
    color: #DE5E60;
}

.through{
	text-decoration:line-through;
}

input, button, select, textarea {
	font-weight: 300;
	font-family: 'Titillium Web', YuGothic, '游ゴシック','メイリオ','ヒラギノ角ゴ Pro W3',Meiryo,sans-serif;
	outline: 0;
}

input:focus, 
textarea:focus,
input[type="text"]:focus {
	outline: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #7F8289;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #7F8289;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7F8289;
}

/* ==================================================
   Code and Pre
================================================== */

code,
pre {
  	padding: 0 3px 2px;
  	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  	color: #232527;
  	font-size: 12px;
  	font-family: 'Titillium Web', YuGothic, '游ゴシック','メイリオ','ヒラギノ角ゴ Pro W3',Meiryo,sans-serif;
}

code {
  	padding: 2px 4px;
  	border: 1px solid #dde4e9;
  	background-color: #F6F6F6;
  	color: #232527;
  	white-space: nowrap;
}

pre {
  	display: block;
  	margin: 70px 50px;
  	padding: 30px;
  	border: 1px solid #dde4e9;
  	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  	background-color: #FCFCFC;
  	white-space: pre;
  	white-space: pre-wrap;
  	word-wrap: break-word;
  	word-break: break-all;
  	font-size: 12px;
  	line-height: 20px;
}

pre code {
  	padding: 0;
  	border: 0;
  	background-color: transparent;
  	color: inherit;
  	white-space: pre;
  	white-space: pre-wrap;
}

.pre-scrollable {
  	overflow-y: scroll;
  	max-height: 340px;
}

/* ==================================================
   Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 20px 0;
	font-weight:300;
	font-family: 'Titillium Web',YuGothic, '游ゴシック','メイリオ','ヒラギノ角ゴ Pro W3',Meiryo,sans-serif;
	line-height:1.5em;
}

h1{
	font-size:48px;
}

h2{
	font-size:36px;
}

h3{
	font-size:24px;
}

h4{
	font-size:20px;
}

h5{
	font-size:18px;
}

h6{
	font-size:16px;
}

h3.spec {
	color: #666;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 30px;
    text-transform: uppercase;
}


/* ==================================================
   Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}

.margin-10{
	margin-bottom:10px !important;
}

.margin-15{
	margin-bottom:15px !important;
}

.margin-20{
	margin-bottom:20px !important;
}

.margin-30{
	margin-bottom:30px !important;
}

.margin-40{
	margin-bottom:40px !important;
}

.margin-50{
	margin-bottom:50px !important;
}

.margin-60{
	margin-bottom:60px !important;
}

.margin-70{
	margin-bottom:70px !important;
}

.margin-80{
	margin-bottom:80px !important;
}

/* ==================================================
   Home Slider
================================================== */

#home-slider {
	position: relative;
	overflow: hidden;
	height: 100%;
}

#home-slider .overlay { 
	position: absolute;
	width: 100%;
	height: 100%;
	background: #26292E;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 0;
}

#home-slider .slider-text {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -585px;
	width: 1170px;
	height: 250px;
	text-align: center;
	z-index: 2;	
}

#home-slider #slidecaption {
	width: 100%;
	line-height: 250px;
	margin: 0;
	text-align: center;
	text-shadow: none;	
}

#home-slider .slide-content {
	font-size: 60px;
	color: #666;
	letter-spacing: -3px;
	text-transform: uppercase;	
}

#home-slider .control-nav {
	position: absolute;
	width: 100%;
	background: #FFF;
	height: 50px;
	bottom: 0;
	z-index: 2;
}

#home-slider #nextslide,
#home-slider #prevslide {
	background-image: none;
	background-color: #CCC;
	display: inline-block;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 50px;
	height: 50px;
	opacity: 1;
	filter: alpha(opacity=70);
	
	-webkit-transition: background 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s;
		    transition: background 0.1s linear 0s;
}

#home-slider #nextslide {
	margin-left: -3px;	
}

#home-slider #nextsection {
	float:right;
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover {
	background-color:#2ebdf0;
}

#home-slider #nextslide i,
#home-slider #prevslide i {
	font-size: 16px;
	color: #FFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	line-height: 1em;
}

#home-slider #nextslide i {
	margin-left: -8px;	
}

#home-slider #prevslide i {
	margin-left: -9px;	
}

#home-slider ul#slide-list {
	top: 50%;
	padding: 0;
	margin:-6px 0 0 0;	
}

#home-slider ul#slide-list li {
	margin-right: 12px;
}

#home-slider ul#slide-list li:last-child {
	margin-right: 0;	
}

#home-slider ul#slide-list li a {
	background-color: #CCC;
	background-image: none;
	width: 12px;
	height: 12px;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;	
	
	-webkit-transition: background 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s;
		    transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list li a:hover {
	background-color: #2ebdf0;	
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
	background-color:#2ebdf0;
}

#home-slider #nextsection {
	background-color: #CCC;
	margin: 0;
	position: relative;
	float:right;
	width: 50px;
	height: 50px;
	
	-webkit-transition: background 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s;
		    transition: background 0.1s linear 0s;
}

#home-slider #nextsection:hover {
	background-color:#2ebdf0;
}

#home-slider #nextsection i {
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	line-height: 1em;
}

#home-slider #nextsection i {
	margin-left: -7px;	
}


/* ==================================================
   Top Slider
================================================== */
#top-slider {
}
#top-slider p{
	margin:0 0 0 0;
	position:relative;
}
#top-slider p img{
	width:100%;
}
#top-slider .mask{
	position:relative;
	overflow:hidden;
	background-color: #fff;
}
#top-slider ul{
	border-top:7px solid #34bdef;
	margin: 0 0 0 0;
}
#top-slider li{
	float:left;
	width:25%;
	position:relative;
}
#top-slider li img{
	width:100%;
	cursor:pointer;
}
#top-slider li img:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.2s ease-in-out 0s;	
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-o-transition: opacity 0.2s ease-in-out 0s;
	transition: opacity 0.2s ease-in-out 0s;	
}
#top-slider .overlay_left,
#top-slider .overlay_right{
	background-color:#000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor:pointer;
	position:absolute;
	height:100%;
	width:4rem;
	position:absolute;
	top:0;
}
#top-slider .overlay_left:hover,
#top-slider .overlay_right:hover{
	opacity: 0.9;
	filter: alpha(opacity=90);
	-webkit-transition: opacity 0.2s ease-in-out 0s;	
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-o-transition: opacity 0.2s ease-in-out 0s;
	transition: opacity 0.2s ease-in-out 0s;	
}
#top-slider .overlay_left{
	left:0;
}
#top-slider .overlay_right{
	right:0;
}
#top-slider .overlay_left div,
#top-slider .overlay_right div{
	position:relative;
}
#top-slider .controller_left,
#top-slider .controller_right{
	color: #fff;
	cursor:pointer;
	position:absolute;
	font-size: 2.5rem;
	top:45%;
}
#top-slider .controller_left{
	left:10px;
}
#top-slider .controller_right{
	right:10px;
}
#top-slider .arrow_bottom{
	border-top: 15px solid #34bdef;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	display: block;
	height: 0;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	top: 0;
	width: 0;
	display:none;
}


/* ==================================================
   Header
================================================== */

header {
	width: 100%;
	z-index: 99;
}

header .sticky-nav {
	position: relative;
	width: 100%;
	height: 96px;
	background: #FFF;
	z-index: 1001;
/*	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
}

header .sticky-nav.stuck {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}

header #logo {
	color: #2ebdf0;
	float: left;
	padding: 10px 0;
	margin-left: 20px;
}

header #logo a {
	background: url(../img/logo.png) no-repeat;
	background-size:contain;
	width: 200px;
	height: 80px;
	text-indent: -9999px;
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transition: opacity 0.25s ease-in-out 0s;	
	   -moz-transition: opacity 0.25s ease-in-out 0s;
		 -o-transition: opacity 0.25s ease-in-out 0s;
		    transition: opacity 0.25s ease-in-out 0s;	
}

header #logo a:hover {
	opacity: 0.65;
	filter: alpha(opacity=65);	
}

nav#menu {
	float: right;
	margin-right: 20px;
	padding-top:15px;
}

nav#menu #menu-nav {
	margin: 0;
	padding: 0;	
}

nav#menu #menu-nav li {
	list-style: none;
	display: inline-block;
	margin-left: 44px;	
}

nav#menu #menu-nav li:first-child {
	margin-left: 0;	
}

nav#menu #menu-nav li:last-child {
	margin-left: 26px;	
}

nav#menu #menu-nav li a {
	color: #666;
	font-size: 16px;
	font-weight: 500;
	line-height: 60px;
	display: block;
	text-transform: uppercase;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
	color: #2ebdf0;
}


/* ==================================================
   Mobile Navigation
================================================== */

#mobile-nav {
	display: none;	
}

.menu-nav {
	background:url(../img/menu-mobile.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	margin: 22px 0 0 0;
	
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;
}

.menu-nav.open {
	background-position: 0 -16px;
		  
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		 -o-transform: rotate(-180deg);
			transform: rotate(-180deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;	
}

#navigation-mobile {
	margin-top: -12px;
	display: none;
	text-align: center;
	width: 100%;
	background: #FFF;	
	border-bottom: 1px solid #CCC;
	position: relative;
	float: left;
	z-index: 9999;
}

#navigation-mobile li {
	list-style: none;
	border-top: 1px solid #CCC;
}

#navigation-mobile li a{
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	padding: 20px 0;
}


/* ==================================================
   Section Page
================================================== */

.page {
	background: #eee;
	padding: 100px 0 0 0;
	position: relative;
	z-index: 99;
}

.page-alternate {
	background: #fff;
	padding: 100px 0;
	position: relative;
	z-index: 99;
}

.title-page {
	text-align: center;
	margin-bottom: 80px;	
}

.title-page .title {
	word-break:keep-all;
	font-size: 2.5rem;
	margin: 0 0 10px 0
}

.title-page .title-description {
	font-size: 20px;
	margin: 0;
}

.title-description {
	margin-bottom: 50px;
}

.topics {
	background: #eee;
	color:#333;
	padding: 30px 0;
	position: relative;
	z-index: 99;
}

.topics-page {
	text-align: center;
}

.topics-page .title {
	font-weight:500;
	font-size: 20px;
	margin: 0;
}

.topics-page .topics-description {
	font-size: 16px;
	padding-bottom:80px;
	margin: 0;
}


/* ==================================================
   Section Portfolio
================================================== */

.type-work {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 1em;
	text-transform: uppercase;
}

.work-nav #filters {
	margin: 0;
	padding: 0;
	list-style: none;
}

.work-nav #filters li {
	margin: 0 0 30px 0;
	padding: 0;
}

.work-nav #filters li a {
	color: #666;
	font-size: 16px;
	display: block;	
}

.work-nav #filters li a:hover {
	color: #2ebdf0;
}

.work-nav #filters li a.selected {
	color: #2ebdf0;
}

#thumbs {
	margin: 0;
	padding: 0;	
}

#thumbs li {
	list-style-type: none;
}

.item-thumbs {
	position: relative;
	overflow: hidden;
	margin-bottom: 0px;
	cursor: pointer;
}

.item-thumbs-nolink {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.item-thumbs a + img {
	width: 100%;	
}

.item-thumbs .hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.item-thumbs .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2ebdf0;
	
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	color: #FFFFFF;
	font-size: 32px;
	line-height: 1em;
	
	opacity: 1;
	filter: alpha(opacity=100);
}


/* ==================================================
   About Section
================================================== */

.profile{
	margin-bottom: 50px;	
}

.profile-name {
	margin-bottom: 15px;	
}
.profile-name.font_small{
	padding-top:5px;
	padding-bottom:7px;
	font-size:1em;
}
.profile-name.double_line{
	line-height: 1.3;
	margin-top: -10px;
	padding-bottom: 0;
}

.profile-name.caption{
	margin-top: -29px;
}
.profile-description {
	margin-bottom: 25px;	
}
.profile-name .new_icon{
	display:inline-block !important;
	padding:0 5px 0 5px;
	margin-right:5px;
	background-color:#FEDC31;
}
.profile .social{
	text-align:center;
	font-size:2.4rem;
}

.profile .social a{
	display:inline-block;
	padding-right:1.6rem;
	color:#666;
}
.profile .social a:hover{
	color:#2ebdf0;
}
.profile .recruit{
	display:none;
	text-align:center;
}

.image-wrap {
	position: relative;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 25px;
	cursor: pointer;
}

.image-wrap-nolink {
	position: relative;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 25px;
}

.image-wrap img {
	width: 100%;	
}

.image-wrap-nolink img {
	width: 100%;	
}


.image-wrap  .hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.image-wrap:hover .hover-wrap,
.image-wrap.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.image-wrap .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2ebdf0;
	
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.image-wrap .hover-wrap .overlay-text-thumb {
	position: absolute;
	width: 100%;
	height: 32px;
	top: 50%;
	margin: -16px 0 0 0;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	
	opacity: 1;
	filter: alpha(opacity=100);
}

.social-icons {
	margin: 0;
	padding: 0;
}

.social-icons li {
	display: inline-block;
	margin-left: 15px;	
}

.social-icons li:first-child {
	margin-left: 0;
}

.social-icons li a{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1em;
	width: 16px;
	height: 16px;
	
	opacity: 0.3;
	filter: alpha(opacity=30);
	
	-webkit-transition: opacity 0.1s linear 0s;	
	   -moz-transition: opacity 0.1s linear 0s;
		 -o-transition: opacity 0.1s linear 0s;
		    transition: opacity 0.1s linear 0s;
}

.social-icons li a:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

/* ==================================================
   Contact Section
================================================== */

.contact-details h3 {
	color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
	line-height: 1em;
    text-transform: uppercase;
}

.contact-details ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.contact-details ul li {
	margin: 0 0 20px;
	line-height: 28px;
	padding: 0;	
}

#contact-form {
	margin-bottom: 0;	
}

#contact-form p {
	margin-bottom: 1px;	
}

#contact-form input,
#contact-form textarea {
    border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #26292E;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
	margin: 0;
	
    resize: none;
}

#contact-form input {
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contact-form .submit {
    background: #3C3F45;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	margin-top: 30px;
	
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#contact-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

#response {
	margin-top: 20px;
	color: #FFFFFF;
}


/* ==================================================
   Twitter Feed
================================================== */

#twitter-feed {
	padding: 100px 0 90px;
	text-align: center;	
}

#twitter-feed .follow {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -8px;
	font-size: 16px;	
}

#ticker .tweet_list {
	margin: 0;
	padding: 0;
	height: 64px;
	list-style: none;
	overflow-y: hidden;	
}

#ticker .tweet_list li {
	font-size: 18px;
	height: 64px;
	line-height: 28px;
	overflow: hidden;
}

#ticker .tweet_list .tweet_time a {
	color: #2ebdf0;
	font-size: 14px;
	font-style: italic;
	margin-left: 10px;	
}

#ticker .tweet_list .tweet_time a:hover {
	color: #FFFFFF;	
}


/* ==================================================
   Social Area
================================================== */

#social-area {
	display:none;
    text-align: center;
}

#social-area #social ul {
	margin: 0;
	padding: 0;
}

#social-area #social ul li {
	display: inline-block;
	margin-left: 30px;
	list-style: none;
	cursor: pointer;
}

#social-area #social ul li:first-child {
	margin-left: 0;
}

#social ul li a {
	display: block;
	width: 70px;
	height: 70px;

	background: #CCC;
	
	-webkit-transition: all 400ms ease-out 0s;	
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
		    transition: all 400ms ease-out 0s;
	
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		 -o-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

#social ul li a span {
	display: inline-block;
	margin: 0;
	color: #55606a;
	font-size: 32px;
	line-height: 70px;
	
	opacity: 0.3;
	filter: alpha(opacity=30);
	
	-webkit-transition: all 400ms ease-out 0s;	
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
		    transition: all 400ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		 -o-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

#social ul li:hover a,
#social ul li.active a {
	background-color: #2ebdf0;	
	
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		 -o-transform: rotateY(0deg);
		    transform: rotateY(0deg);
}

#social ul li:hover a span,
#social ul li.active a span {
	color: #FFFFFF;
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		 -o-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

/* ==================================================
   Footer
================================================== */

footer {
	position: relative;
	width: 100%;
	height: auto;
	padding:50px 0;
	background: #fff;
	text-align: center;
	z-index: 99;
}

footer .credits {
	color: #333;
	margin-bottom: 0;
	padding: 20px 0;
}

footer a {
#	color: #DDD;
}


/* ==================================================
   Back to Top
================================================== */

#back-to-top {
	display: none;
	background-color: #CCC;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 99;
	
	-webkit-transition: background 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s;
		    transition: background 0.1s linear 0s;
}

#back-to-top:hover {
	background-color:#2ebdf0;
}

#back-to-top i {
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	line-height: 1em;
}

#back-to-top i {
	margin-left: -7px;	
}


/* ==================================================
   Preloader
================================================== */

#jpreOverlay,
#jSplash {
	background-color: #FFF;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 700;
}

#jpreSlide{
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}

#jpreLoader {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;	
}

#jprePercentage {
	width: 50px;
	height: 50px !important;
	line-height: 50px;
	position: absolute !important;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 800;
	
	font-size: 24px;
	color: #FFFFFF;	

	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
		 -o-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	background: #2ebdf0;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	opacity: 0;
	filter: alpha(opacity=0);
			
	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}

@-webkit-keyframes circle {
	0% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
	50% {-webkit-transform: rotateY(180deg);
		-webkit-animation-timing-function: ease-out;
	}
	100% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes circle {
	0% {-moz-transform: rotateY(0deg);
	}
	50% {-moz-transform: rotateY(180deg);
		-moz-animation-timing-function: ease-out;
	}
	100% {-moz-transform: rotateY(0deg);
		-moz-animation-timing-function: ease-in;
	}
}

@-ms-keyframes circle {
	0% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
	50% {-ms-transform: rotateY(180deg);
		-ms-animation-timing-function: ease-out;
	}
	100% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
}

@-o-keyframes circle {
	0% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
	50% {-o-transform: rotateY(180deg);
		-o-animation-timing-function: ease-out;
	}
	100% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
}

@keyframes circle {
	0% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
	50% {transform: rotateY(180deg);
		animation-timing-function: ease-out;
	}
	100% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
}


/* ==================================================
   Isotope Filtering
================================================== */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.stage_program,
#recruit,
.lastyear{
	display:none;
}

.bxslider{
	margin:0 0 0 0;
}

/* ==================================================
   clearfix
================================================== */
.clearfix:after {
  content: "";
  /* new clearfix */
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
 * html .clearfix {
  zoom: 1;
}
/* IE6 */
 *:first-child + html .clearfix {
  zoom: 1;
  display: inline-block;
}
/* IE7 */
.clearfix {
  display: block;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}

/* ==================================================
   pankuzu
================================================== */
nav#pankuzu {
	margin-bottom:30px;
}

nav#pankuzu #pankuzu-nav {
	margin: 0;
	padding: 0;	
}

nav#pankuzu #pankuzu-nav li {
	list-style: none;
	display: inline-block;
	margin-left: 18px;
	line-height:1;
}

nav#pankuzu a {
	color: #666;
	font-size: 16px;
	font-weight: 500;
}
nav#pankuzu span{
	display:inline-block;
	padding:0 15px 0 15px;
}

nav#pankuzu .current{
	display:inline;
	padding:0;
}

nav#pankuzu .current,
nav#pankuzu a:hover {
	color: #2ebdf0;
}
/* ==================================================
   program_menu
================================================== */
.program_menu ul{
	margin-left:0;
}
.program_menu li{
	display: inline-block;
	position:relative;
	border-bottom:8px solid #34bdef;
	width:100%;
}
.program_menu li a{
	display:block;
}
.program_menu li a span{
	display:block;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#333;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.25s ease-in-out 0s;	
	   -moz-transition: opacity 0.25s ease-in-out 0s;
		 -o-transition: opacity 0.25s ease-in-out 0s;
		    transition: opacity 0.25s ease-in-out 0s;	
}
.program_menu li a img{
/*	max-width:1100px;*/
	width:100%;
}
.program_menu li a:hover span{
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.25s ease-in-out 0s;	
	   -moz-transition: opacity 0.25s ease-in-out 0s;
		 -o-transition: opacity 0.25s ease-in-out 0s;
		    transition: opacity 0.25s ease-in-out 0s;	
}
.program_menu li .txt{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index:10;
	max-width:780px;
	width:80%;
}


.profile-name .new_icon.sp_data,
.sp_data{
	display:none !important;
}

/* program menu
----------------------------*/
.program_menu .main_img img{
	width: 100%;
	max-width:100%;
	border-bottom:8px solid #34bdef;
}
.program_menu .main_img a{
	font-size: 1.8em;
	padding:20px 0 20px; 0;
	line-height:1.5;
}
.program_menu .main_img a.button-blue:hover{
	background-color:#34bdef;
}
.program_menu .main_img a + a{
	margin-left:0;
}
.title-page.pg_title {
	margin-bottom:40px;
}
.title-page.pg_title .title-description{
	padding:1em 0 1em 0;
}
.pg_title  .entry_end_alert{
	border:5px solid #f66;
	color:#f66;
	padding:35px 2em 35px 2em;
	font-size:1.5em;
	font-weight:600;
	line-height:1.3;
}
.pg_title  .entry_end_alert_2{
	border:1px solid #f66;
	color:#f66;
	padding:35px 2em 35px 2em;
	font-size:1.0em;
	font-weight:450;
	line-height:1.3;
}
.title-page.pg_stitle {
	margin-bottom:40px;
}
.title-page.pg_stitle .title {
	font-size: 1.5rem;
	background-color:#34bdef;
	display:inline-block;
	color:#fff;
}
.pg_descrition{
	margin:0 0 40px 0;
}
.pg_movie{
	margin:0 0 40px 0;
}
.pg_button a{
	font-size:1.8em;
	font-weight:130;
	padding-top:1.2em;
	padding-bottom:1.2em;
	letter-spacing: 2px;
}
.pg_button a small{
	font-size:55%;
	line-height:1;
}
.pg_button .button + .button {
	margin-left: 0;
}
.pg_button .button_high_gray{
	background-color:#aaa;
}
#view{
	padding-top:100px;
}
.entry .topics-description{
	text-align:left;
}
.entry .topics-description span{
	display:block;
	text-align:center;
}
.entry_button{
	margin:0 0 80px 0;
}
.entry_button .button{
	font-size:1.5em;
	padding-top:1.2em;
	padding-bottom:1.2em;
	letter-spacing: 4px;
	margin-bottom:1em;
}
.entry .button + .button {
	margin-left: 0;
}
.entry .entry_end_alert{
	border:5px solid #f66;
	color:#f66;
	padding:35px 2em 35px 2em;
	font-size:1.5em;
	font-weight:600;
	line-height:1.3;
}
.entry .flow{
	background-color:#fff;
	margin:0 0 40px 0;
}
.entry .flow .row .step div{
	padding:40px 0 0 150px;
}
.entry .flow .row p{
	padding:30px 0 0 30px;
	line-height:1.5;
}
.entry .flow .row p span{
	font-size:2em;
	display:block;
	padding-bottom:30px;
}
.entry .flow .step_arrow{
	text-align:center;
	border-top:8px solid #f8f8f8;
}
.entry .flow .step_arrow img{
	margin-top: -19px;
}
.entry .catchcopy{
	font-size:1.7em;
	line-height:1.5;
	margin:0 0 50px 0;
}
.entry .icon{
	text-align:center;
	padding-bottom:40px;
}
#entry .entry_target{
/*	margin-top:40px;*/
}

#entry .entry_target span{
	font-weight:700;
	border-top:7px solid #fff;
	text-align:left;
	padding-top:20px;
	padding-bottom:5px;
}
#entry .entry_method{
	padding:1em;
	margin-bottom:1em;
	border:7px solid #fff;
}
#entry .entry_method span{
	font-weight:700;
	padding-top:20px;
	padding-bottom:5px;
	text-align:left;
}

.faq{
	padding-bottom:50px;
}


.faq th,
.faq td{
	vertical-align:top;
	text-align:left;
	width:50%;
	vertical-align:top;
	padding-top:50px;
	padding-bottom:50px;
}

.faq th{
	width:auto;
	padding-right:2em;
	font-weight:600;
}

.faq .accordion-inner{
	padding:0;
}

.faq .accordion-inner .row{
	border-bottom:7px solid #fff;
	padding-top:50px;
	padding-bottom:50px;
}
.faq .accordion-inner .question{
	font-size:1.2em;
	padding:0 0 1.5em 0;
	font-weight:600;
}

/* smartphone用文字サイズ調整 */
@media screen and (max-width: 768px) {
	.pc_data{
		display:none !important;
	}
	.sp_data{
		display:block !important;
	}
	.sp_data.inline-block{
		display:inline-block !important;
	}
	body {
		font-size: 13px;
	}
	.topics-page .title {
		font-size: 13px;
	}
	.title-page .title {
		font-size: 1.5rem;
	}
	.title-page {
		font-size: 2.3rem;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 16px;
	}
	.profile .social a {
	padding-right: 1rem;
	}
	.pg_button a {
		font-size: 1.3em;
	}
	.entry .catchcopy {
		font-size: 1.2em;
	}
	.entry .flow .row p span {
		font-size: 1em;
		font-weight:600;
	}
	.entry_button .button {
		font-size: 0.9em;
	}
	.title-page .title {
		word-break:break-all;
	}
	.title-page.pg_stitle .title {
		font-size: 0.9rem;
	}
	.title-page.pg_title .title,
	.title-page.pg_title .title-description{
		padding:0;
		font-size:16px;
		line-height: 28px;
	}
	.page.entry .title,
	#view .title-page.pg_title .title{
		font-size:20px;
	}


	.program_menu .main_img a {
		height:4.5em;
		padding:13px 1% 13px 1%;
		width:48%;
		font-size: 1em;
	}
	.program_menu .topics-description{
		text-align:left;
		padding-bottom:20px;
	}
	footer .credits{
		font-size:11px;
		padding: 0 1.5em;
		width: auto;
	}
	.step img{
		height:19px;
	}
	html body {
		padding: 48px 20px 0 20px;
	}
	body header .sticky-wrapper .sticky-nav{
		left: 0;
		position: fixed;
		top: 0;
		z-index: 1001;
	}
	body header .sticky-wrapper .sticky-nav  #logo {
		margin-left: 0;
		padding-left: 10px;
	}
	body header .sticky-wrapper .sticky-nav  #mobile-nav {
		margin-right: 10px;
	}
	header #logo a {
		width: 100px;
		height: 40px;
	}
	header .sticky-nav {
		height: 48px;
	}
	footer{
		padding-top:15px;
	}
	.entry_button {
		margin-bottom:40px;
	}
	.topics-description.entry_target{
		font-size:13px;
	}
	.topics-description.entry_target,
	.topics-description.entry_method{
		font-size:13px;
	}
	.entry .topics-description {
		font-size: 13px;
	}
	.entry_method .button{
		font-size:14px;
	}
	.faq .accordion-inner .question,
	.faq .accordion-inner {
		font-size:13px;
	}
	#view{
		padding-top:47px;
	}
	#view .topics-description{
		font-size:13px;
	}
	.pg_button a{
		position:relative;
	}
	.pg_button a small{
		position: absolute;
		top: 70%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.entry .entry_end_alert {
		font-size: 19px;
		margin-top: 20px;
	}
	.pg_title  .entry_end_alert{
		font-size: 19px;
		margin-top: 20px;
	}
}
