/* Display none */
#top-slider{
	display:none;
}
.pc_data{
	display:none !important;
}
#message{
	display:none;
}
#director{
	display:none;
}
.profile-name .new_icon.sp_data{
	display:inline-block !important;
}
.sp_data{
	display:block !important;
}

#top-slider.sp_data{
	display:block;
}
#top-slider.sp_data{
	background-color:#34bdef;
	padding:0 0.6rem 0 0.6rem;
	display:block;
}
#top-slider.sp_data p img{
	margin:0 0 0.6rem 0;
}

.flex-control-nav {
	bottom: -68px;
}
.topics,
#artist{
	padding:45px 10px 30px 10px;
	margin-left: 0;
	margin-right: 0;
}
.profile {
	margin-bottom: 25px;
}
# artist .title-page.pg_stitle .title {
	padding-top:40px;
}
.social{
	padding-top:1rem;
}
footer{
	padding-right:0;
}
