
a {
	color: #2ebdf0;
}

a:hover {
	color: #666;
}

a:hover img{filter: alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}


.intro .page-scroll a:hover {
	color: #2ebdf0;
}

.icon:hover .fa{
	color: #2ebdf0;
}

ul.nav li a:hover {
	color: #2ebdf0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #2ebdf0;
}

.bg-skin {
	background: #2ebdf0;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #2ebdf0;
}

footer {
    background-color: #2ebdf0;
}

.btn-skin {
  color: #fff;
  background-color: #2ebdf0;
  border-color: #2ebdf0;
}
